html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title BlockChain
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    script(src="sha256.js")
  body
    include nav
    br
    br

    h1.display List of All Blocks
    div#root.jumbotron
    
    
  script(src='blockchainlist.js') 
