html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Index
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    link(rel='stylesheet', type='text/css', href='demo.css')
    link(rel='stylesheet', type='text/css', href='style3.css')

  body
    include nav
    
    .container
      br
      br
      br
      section
        #container_demo
          a#toregister.hiddenanchor
          a#tologin.hiddenanchor
          #wrapper
            #login.animate.form
              form(method='POST', action='producer')
                h1 Producer Transactions
                p
                  label.uname(for='username', data-icon='k')  Publisher Key
                  input#username(name='PublisherKey', type='text', placeholder='V1 or V124')
                p
                  label.youpasswd(for='password', data-icon='n')  Publisher Name 
                  input#password(name='Publisher', type='text', placeholder='Geo Tech')
                p
                  label.youpasswd(for='password', data-icon='p')  Item Name  
                  input#password(name='ItemName', type='text', placeholder=' ')
                p
                  label.youpasswd(for='password', data-icon='p')  Item Tech Specs 
                  input#password(name='ItemSpecs', type='text', placeholder='eg. ')
                p
                  label.youpasswd(for='password', data-icon='p')  Item Info
                  input#password(name='ItemInfo', type='text', placeholder='eg. ')
                p
                  label.youpasswd(for='password', data-icon='p')  Location
                  input#password(name='Location', type='text', placeholder='eg. ')
                p
                  label.youpasswd(for='password', data-icon='p')  Receiver Key 
                  input#password(name='ReceiverKey', type='text', placeholder='eg. ')
                p
                  label.youpasswd(for='password', data-icon='p')  Receiver Name 
                  input#password(name='ReceiverName', type='text', placeholder='eg. ')
                p.login.button
                  input#send(type='submit', value='Go')
                p.change_link
                  a.to_register(href='vendor') Vendor

  script(src='main.js')
