html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Index
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  body
    include nav
    h1 Producer Transactions

    div
    form(method='POST' action='producer')
      input(name='PublisherKey', type='text', placeholder='Publisher Key')
      br
      input(name='Publisher', type='text', placeholder='Publisher Name')
      br
      input(name='ItemName', type='text', placeholder='Item Name')
      br
      input(name='TechSpecs', type='text', placeholder='Item Tech Specs')
      br
      input(name='ItemInfo', type='text', placeholder='Item Info')
      br
      input(name='Location', type='text', placeholder='Location')
      br
      h3 Receiver Info
      input(name='ReceiverKey', type='text', placeholder='Receiver Key')
      br
      input(name='ReceiverName', type='text', placeholder='ReceiverName')
      br
      input#send(type='submit', value='GO')
   
    div#root

  script(src='main.js')
